#map {
  height: 50%;
  width: 50%;
  left: 25%;
  right: 25%;
  top: 5%;
  box-shadow: rgb(0 0 0 / 85%) 0px 7px 10px;
}

.btn{
 margin-top: 10px;
}

#batch-markers{
  margin-top: 30px;
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('./background.jpg');
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}